.selectedUser {
    background-color: orangered;
}
.selectUser {
    background-color: blueviolet;
}
.active {
    background-color: aqua;
}
.unread {
    color: orangered;
}
.read {
    display: none;
}